# Mark the current directory as the root
root = true

# General settings for all files
[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Special settings for Markdown files
[*.md]
trim_trailing_whitespace = false
max_line_length = off

# Use tab indentation for Makefile
[Makefile]
indent_style = tab
